@import "mixin.scss";
@import "vars.scss";
@import "media.scss";
@import "utils.scss";


.protfolio-container {
  @include flex(center, space-evenly);
  flex-flow: row wrap;
  width: 100%;
}

.project-container {
  flex: 0 1 35%;
  height: auto;
}

.project-btn {
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.project-img {
  width: 100%;
  object-fit: cover;
}